{% extends 'base.html.twig' %}

{% block title %}Hello ProductController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ '/home/florian/Code/private/sfpanther/src/Controller/ProductController.php'|file_link(0) }}">src/Controller/ProductController.php</a></code></li>
        <li>Your template at <code><a href="{{ '/home/florian/Code/private/sfpanther/templates/product/index.html.twig'|file_link(0) }}">templates/product/index.html.twig</a></code></li>
    </ul>

    <div data-controller="counter">
        <button
                data-action="counter#increment"
                class="btn btn-primary btn-sm"
        >
            Click me!
        </button>

        <br>

        I have been clicked
        <span data-counter-target="count">0</span>
        times!
    </div>

    <div class="col-9">
        <form>
            <div
                    class="input-group"
                    {{ stimulus_controller('search-preview', {
                        url: path('app_search')
                    }) }}
            >
                <input
                        name="q"
                        value="{{ searchTerm }}"
                        placeholder="Search products..."
                        type="search"
                        class="form-control"
                        data-action="search-preview#onSearchInput"
                >

                <button type="submit" class="d-none">Search</button>

                <div
                        class="search-preview"
                        data-search-preview-target="result"
                ></div>
            </div>
        </form>
</div>
{% endblock %}
